/* font family import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");
@import url("@/styles/variables.scss");
* {
  font-family: "Lato", sans-serif;
}

/* ==========================================================================
 - Text Styles
========================================================================== */

.title-page {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--blue-title-page);
}

.sub-title-page {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--blue-title-page);
}

/* ==========================================================================
 - Button Styles
========================================================================== */

.button-default {
  &:hover {
    background-color: var(--blue-base-hover) !important;
  }
}

.delete-button {
  background-color: var(--danger-feedbak) !important;
  min-width: 45px !important;
  .icon-trash {
    color: #ffffff;
  }
}

/* ==========================================================================
 - Accordion Styles
========================================================================== */
.v-expansion-panel-title__overlay {
  background-color: var(--blue-base) !important;
}

.v-field--active {
  background-color: var(--blue-bg-input-text-active) !important;
}

/* ==========================================================================
 - Toast Styles
========================================================================== */
.success {
  background-color: var(--success-feedback) !important;
  color: #ffffff !important;
}