:root {
  --green-base: #4d885d;
  --green-base-hover: #3e774d;
  --blue-base: #2859b4;
  --blue-base-hover: #1c4ba1;
  --blue-bg-side-bar: #6572eb;
  //Text Variables
  --blue-title-page: rgb(25, 86, 156);
  --color-text-default: rgb(158, 155, 155);
  //Input Text Variables
  --bg-input-text: #f7f7f7;
  --blue-bg-input-text-active: rgb(240, 240, 240);
  --box-shadow-color: rgba(133, 133, 133, 0.62);
  //Buttons and Feedback Variables
  --danger-feedbak: rgb(255, 71, 71);
  --danger-feedbak-hover: rgb(231, 64, 64);
  --success-feedback: rgb(64, 170, 64);
  --success-feedback-hover: rgb(48, 134, 48);
}
